.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 25px;

  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.initial-form-container {
  display: flex;
  flex-direction: column;
  gap: 35px;

  font-size: clamp(1rem, 2vw, 1.5rem);
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;

  font-size: xx-large;
  background-color: #1a73e84b;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  position: relative;

  input {
    height: clamp(20px, 3vh, 50px);
    border: 1px solid white;
    border-radius: 5px;
  }

  .action {
    font-size: 2.5rem;
  }

  .action:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.trivia-round-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 80%;
}

.trivia-question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.difficulty-selector-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: clamp(0.7rem, 2vw, 1rem);
  gap: 15px;

  .difficulty-selector {
    display: flex;
    align-items: center;
    gap: 5px;

    select {
      height: clamp(20px, 3vh, 50px);
      border: 1px solid white;
      border-radius: 5px;
      padding: 0 3px 0 3px;
    }
  }
}

.generate-button {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  border: 1px solid black;
  border-radius: 5px;
  background-color: #211ae8;
  color: white;
  padding: 10px;
}

.generate-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.load-spinner {
  height: 25px;
  width: 25px;

  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0);
  border-top-color: #1a73e8;
  border-right-color: #1a73e8;

  transform: rotate(0deg);

  animation: loadspin 1.15s normal infinite;
}

@keyframes loadspin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
