.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 25px;

  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.initial-form-container {
  display: flex;
  flex-direction: column;
  gap: 35px;

  font-size: clamp(1rem, 2vw, 1.5rem);
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;

  font-size: xx-large;
  background-color: rgb(164, 163, 233);
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  position: relative;

  input {
    height: clamp(20px, 3vh, 50px);
    border: 1px solid white;
    border-radius: 5px;
  }

  .action {
    font-size: 2.5rem;
  }

  .action:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.trivia-round-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 80%;
}

.trivia-question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.difficulty-selector-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: clamp(0.7rem, 2vw, 1rem);
  gap: 15px;

  input {
    height: 100%;

    border: 1px solid white;
    border-radius: 5px;
  }
}
